{% extends 'base.html' %}
{% block body %}
<h1>Free Legacy X-Wing League</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<p>
			The Free Legacy X-Wing League is a weekly league that plays
			the X-Wing
			Miniatures Game with Fantasy Flight Game's <a
									   href="https://infinitearenas.com/legacy/docs/01_swzrulesreference_v132.pdf">last rules (2.0).</a>
			We use points from <a href="https://xwing-legacy.com/">https://xwing-legacy.com/</a>
			which have been updated to have points for new releases and further balanced by the X-Wing 2.0 community.
			</p> 
		</div>
		<div class="col">
		</div>
	</div>
</div>
{% endblock %}
